.appointment-calendar {
    display: flex;
    justify-content: space-around;
    padding: 40px 15px;

    .appointmen-information,
    .usage-service-information {
        border: 3px solid #EDF5F4;
        border-radius: 20px;
        padding: 10px 30px 30px 30px;
        width: 300px;

        .title-appointmen-information,
        .title-usage-service {
            border-bottom: 3px solid #EDF5F4;
            padding-bottom: 20px;
        }

        label {
            font-size: 10px;
            font-weight: bold;
        }

        input {
            border: none;
            background-color: #EDF5F4;
            border-radius: 5px;
            padding: 5px;
            width: 98%;
        }

        select {
            border: none;
            background-color: #EDF5F4;
            width: 100%;
            padding: 5px;
            border-radius: 5px;
        }

        .mo-ta-su-co {
            height: 25%;
            width: 96.5%;
            border: none;
            border-radius: 5px;
            background-color: #EDF5F4;
            padding: 5px;
        }

        button {
            width: 100%;
            background-color: black;
            color: white;
            border: none;
            border-radius: 20px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            padding: 6px;
            cursor: pointer;
        }

        button:hover {
            background-color: #EDF5F4;
            color: black;
            transition: 0.5s;
        }
    }

    .table-quotation {
        margin: 0px 15px 22px 0px;

        table {
            height: 105%;

            th,
            td {
                text-align: center;
                padding: 5px;
                background-color: #EDF5F4;
                border-radius: 5px;
            }
        }
    }
}